/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --bg-color: #fff1f7;
  --title-color: #ffc2e6;
  --accent-color: #ff0070;
  --text-color: #353430;
  --bg-image: url(../images/cover-image-light.png);
  --bg-title-color: #ff8dcb;
  --button-color: #353430;
  --title-desc-color: #323430;
  --button-border-hover: rgba(50, 49, 45, 0.4);

  .header__decor {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --title-color: #ffc2e6;
    --accent-color: #ff0070;
    --text-color: #353430;
    --bg-image: url(../images/cover-image-light.png);
    --bg-title-color: #ff8dcb;
    --button-color: #353430;
    --title-desc-color: #323430;
    --button-border-hover: rgba(50, 49, 45, 0.4);
  }

  .header__decor {
    display: none;
  }
}
